<table mat-table [dataSource]="events" class="mat-elevation-z8 width-100">


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nazwa wydarzenia</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Rozpoczącie treningu </th>
    <td mat-cell *matCellDef="let element">
      {{ element.startDate | date: 'dd.MM.yyyy hh:mm' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef> Zakończenie treningu </th>
    <td mat-cell *matCellDef="let element">
      {{ element.endDate | date: 'dd.MM.yyyy hh:mm' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="max">
    <th mat-header-cell *matHeaderCellDef> Limit uczestników </th>
    <td mat-cell *matCellDef="let element">
      {{ element.maximumParticipants }}
    </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Liczba uczestników </th>
    <td mat-cell *matCellDef="let element">
      {{ element.participantsId.length }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Akcje </th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/event-preview" [queryParams]="{ event: element.id }" mat-flat-button color="primary">Podgląd</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
