<ng-container *ngIf="getFormControl('password')">
  <form [formGroup]="form" (ngSubmit)="delete()">
    <mat-dialog-content class="mat-typography">
      <p>
        Podaj hasło użytkownika aby usunąć konto.
      </p>

      <app-text-box type="password" [control]="getFormControl('password')" label="Hasło"></app-text-box>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-flat-button color="warn" type="submit">Usuń konto</button>
      <button mat-flat-button color="primary" type="button" (click)="cancel()">Anuluj</button>
    </mat-dialog-actions>

  </form>
</ng-container>

