<form (ngSubmit)="login()" [formGroup]="form">
  <main class="login-container">
    <mat-card class="login-card">

      <mat-card-title class="title">Logowanie</mat-card-title>
      <mat-card-subtitle>Zaloguj się do swojego konta</mat-card-subtitle>
      <mat-card-content>
        <app-text-box
          label="Nazwa użytkownika"
          [control]="getFormControl('login')"
        ></app-text-box>

        <app-text-box
          label="Hasło"
          type="password"
          [control]="getFormControl('password')"
        ></app-text-box>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions align="end">
        <a routerLink="../register" mat-button>Rejestracja</a>
        <button mat-flat-button color="primary" [disabled]="invalid">Zaloguj</button>
      </mat-card-actions>

    </mat-card>
  </main>
</form>


