
<main class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="title">Logowanie</mat-card-title>
    <mat-card-subtitle>Zaloguj się do swojego konta</mat-card-subtitle>

    <mat-card-content>
      <form>

        <mat-form-field class="width-100">
          <mat-label>Nazwa użytkownika</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="width-100">
          <mat-label>Hasło</mat-label>
          <input matInput type="password">
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions align="end">
      <a routerLink="../register" mat-button>Rejestracja</a>
      <button mat-flat-button color="primary">Zaloguj</button>
    </mat-card-actions>
  </mat-card>
</main>


