@import 'src/theme';

.main-container {
  width: 100%;
  min-height: calc(100% - 64px);

  @include main-background;
}

.main-card {
  margin: 2rem;
}

.main-content {
  margin-top: 2rem;
}

.sidebar-container {
  width: 25%;
}
