<form [formGroup]="form" (ngSubmit)="loadData()">
  <app-exercise-machine-select-box [control]="getFormControl('id')"></app-exercise-machine-select-box>

  <button mat-flat-button [disabled]="invalid" color="primary" class="margin-right-1">
    Edytuj
  </button>

  <button mat-flat-button [disabled]="invalid" color="warn" type="button" (click)="deleteMachine()">
    Usuń
  </button>
</form>

<app-exercise-machine-form
  *ngIf="machine"
  [id]="machine.id"
  [code]="machine.code"
  [name]="machine.name"
  [type]="machine.type"
  [localizationGymObjectId]="machine.localizationGymObject.id"
  (update)="updateMachine($event)"
></app-exercise-machine-form>
