<p>
  Nazwa wydarzenia: {{ event.name }}
</p>

<p>
  Czas rozpoczęcia: {{ event.startDate | date: 'dd/MM/yyyy HH:mm' }}
</p>

<p>
  Koniec wydarzenia: {{ event.startDate | date: 'dd/MM/yyyy HH:mm' }}
</p>

<p>
  Ilość uczestników: {{ event.participantsId.length }}
</p>

<p>
  Opiekun wydarzenia: <app-personal-trainer-lookup [personalTrainerId]="event.eventSupervisorId"></app-personal-trainer-lookup>
</p>

<p>
  Miejsce wydarzenia: <app-gym-room-lookup [gymRoomId]="event.gymRoomId"></app-gym-room-lookup>
</p>

<p>
  Czy biorę udział: {{ isEnrolled | yesNo }}
</p>

<div>
  <button mat-flat-button color="primary" (click)="cancel()" class="margin-right-1" *appPersonalTrainerAccess>Anuluj</button>
  <button mat-flat-button [disabled]="isEnrolled" color="primary" (click)="enroll()" class="margin-right-1" *appClientAccess>Zapisz się</button>
  <button mat-flat-button [disabled]="!isEnrolled" color="primary" (click)="resign()" *appClientAccess>Zrezygnuj z udziału</button>
</div>


