/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@for $widthPx from 0 through 100 {
  .width-#{$widthPx} {
    width: round(percentage($widthPx) / 100) !important;
  }
};

.none {
  display: none;
}

@for $rem from 1 through 10 {
  .margin-y-#{$rem} {
    margin: #{$rem}rem 0 !important;
  }

  .margin-x-#{$rem} {
    margin: 0 #{$rem}rem !important;
  }

  .margin-#{$rem} {
    margin: #{$rem}rem !important;
  }

  .margin-top-#{$rem} {
    margin-top: #{$rem}rem !important;
  }

  .margin-left-#{$rem} {
    margin-left: #{$rem}rem !important;
  }

  .margin-right-#{$rem} {
    margin-right: #{$rem}rem !important;
  }

  .margin-bottom-#{$rem} {
    margin-bottom: #{$rem}rem !important;
  }
};
