<form [formGroup]="form" (ngSubmit)="register()">
  <main class="register-container">
    <mat-card class="register-card">
      <mat-card-title class="title">Rejestracja</mat-card-title>
      <mat-card-subtitle>Utwórz konto aby móc korzystać z możliwości serwisu internetowego.</mat-card-subtitle>

      <mat-card-content>
        <app-text-box
          type="text"
          label="Nazwa użytkownika"
          [control]="getFormControl('login')"
        ></app-text-box>

        <app-text-box
          type="text"
          label="Imię"
          [control]="getFormControl('name')"
        ></app-text-box>

        <app-text-box
          type="text"
          label="Nazwisko"
          [control]="getFormControl('surname')"
        ></app-text-box>

        <app-text-box
          label="Hasło"
          type="password"
          [control]="getFormControl('password')"
        ></app-text-box>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions align="end">
        <a routerLink="../login" mat-button>Mam już konto</a>
        <button mat-flat-button color="primary" [disabled]="invalid">Utwórz konto</button>
      </mat-card-actions>

    </mat-card>
  </main>
</form>


